.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 3rem;
  margin-block-end: 4rem;
}

.footer {
  border-block-start: 1px solid var(--clr-secondary);
  padding-block-start: 2rem;
  display: flex;
  justify-content: flex-end;
  margin-block-end: 4rem;
}
