.accordion {
  background-color: var(--clr-white);
  border: 3px solid var(--clr-primary);
  box-shadow: 6px 6px 0 0 var(--clr-primary);
  margin-block: 2.5rem;
}

.accordionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  list-style: none;
  font-size: clamp(1rem, 2vw, 1, 15rem);
  font-weight: 900;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  cursor: pointer;
  padding-inline: 1.25rem;
  padding-block: 1.1rem;
}

.accordionIcon {
  flex-shrink: 0;
  transition: transform 0.15s ease;
}

.accordion[open] .accordionIcon {
  transform: rotate(180deg);
}

.accordionContent {
  color: var(--clr-secondary);
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.02em;
  padding-inline: 1.25rem;
  padding-block: 1.25rem 1.5rem;
  border-block-start: 1px solid var(--clr-secondary);

  p {
    margin-block-start: 0;
  }

  p:last-child {
    margin-block-end: 0;
  }
}
